body {
    font-family: sans-serif;
}
header{
    background-color: powderblue;
    border-radius:15px;
    padding: 5px;
}
h1{
    background-color: powderblue;
    text-align: center;
    color: royalblue;
    border-radius: 5px;
}
